*
!.gitignore
!audio-analysis/
!README.md

audio-analysis/__pycache__/
audio-analysis/*.pyc
audio-analysis/.env
audio-analysis/backend/__pycache__/
audio-analysis/backend/*.pyc
audio-analysis/backend/exports/
audio-analysis/backend/models/
audio-analysis/frontend/node_modules/

